.header
    .menu
        .item
            a.link(href=root)
                img.logo(src=root+"./assets/logo-g3d.png")
        .item
            a.link(href=root+"api/Engine.html") API
        .item
            a.link(href=root+"guide/First-Steps.html")= guideText
        .item
            a.link(href="https://github.com/alibaba/G3D" target="_blank")
                img.logo-small(src=root+"assets/logo-github.png")
        .item-right.item.language
            if langcn
                a.link(href="/G3D/") English
            else
                a.link(href="/G3D/cn/") 中文
        .item-right.item
            a.link(href="https://alibaba.github.io/GCanvas/") GCanvas